In [1]:
import requests
import json
import pandas as pd

In [2]:
df = pd.read_csv('dialect_dataset.csv')
df.head()

                    id dialect
0  1175358310087892992      IQ
1  1175416117793349632      IQ
2  1175450108898565888      IQ
3  1175471073770573824      IQ
4  1175496913145217024      IQ

In [3]:
id_list=list (map (str,list(df['id'])))
data_req=[]
count_slicing = 0
data_respond={}
url = 'https://recruitment.aimtechnologies.co/ai-tasks'

In [4]:
for i in range (int(len (id_list)/999)+1):
    
    data_req =id_list[count_slicing:count_slicing+999]
    count_slicing+=999

    data_respond.update(requests.post(url, json=data_req).json())

In [5]:
data = pd.DataFrame(data_respond.items(),columns=['id', 'DateValue'])
data['id'] = data['id'].astype('int64')

In [6]:
df = pd.merge(data, df, on=["id"])
df.head()

,id,DateValue,dialect
0,1175358310087892992,@Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .,IQ
1,1175416117793349632,@7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...,IQ
2,1175450108898565888,@KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ,IQ
3,1175471073770573824,@HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’,IQ
4,1175496913145217024,@hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡ Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº,IQ

In [7]:
df.to_csv('dialect_data.csv',encoding= 'utf-8-sig')